body {
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    display: inline-block;
}

nav {
    background-color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

div {
    display: inline;
    margin-left: 85%;
    margin-right: 0px;
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 250px;
}



#landing {
    text-align: center;
    height: 600px;
    font-family: 'Courier New', Courier, monospace
}

h3 {
    word-spacing: 10px
}

#mern-learning-list {
    list-style: none;

}



#register {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form {
    background-color: white;
    border: 2px solid black;
    margin: 10px auto;
    padding: 40px;
    width: 20%;
    text-align: center;
}

label,
input {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 5px 0;
}

button {
    background-color: red;
    border-radius: 35%;
}